.contacts {
	padding-top: 90px;
}

.contacts__title {
	font-size: 24px;
	line-height: 1.2;
	color: #afafaf;
	text-transform: uppercase;
	padding-bottom: 45px;
	font-weight: normal;
}

.contacts__email {
	font-size: 60px;
	line-height: 1.2;
	color: #292929;
	padding-bottom: 33px;
	margin-top: 10px;
}

.contacts__wrap {
	max-width: 630px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.contacts__item {
	width: calc(50% - 30px);
	position: relative;
	margin: 0 15px;
	margin-bottom: 50px;
}

.contacts__item:last-child {
	margin-bottom: 64px;
}

.contacts__label {
	position: absolute;
	top: -2px;
	left: 0px;
	font-size: 16px;
	pointer-events: none;
	color: #292929;
	transition: 0.3s;
}

.contacts__label.label-active {
	font-size: 14px;
	top: -20px;
}

.contacts__link {
	display: inline-block;
	font-size: 24px;
	line-height: 1.2;
	color: #292929;
	margin-bottom: 20px;
}

.contacts__wrap-error {
	margin-bottom: 15px;
}

.contacts__fail {
	font-size: 18px;
	color: #8b0000;
	padding-bottom: 17px;
	font-weight: 400;
}

@media screen and (max-width: 1150px) {

.contacts {
	padding-top: 30px;
	padding-bottom: 30px;
}

}

@media screen and (max-width: 960px) {

.contacts__email {
	font-size: 45px;
}

}

@media screen and (max-width: 780px) {

.contacts__title {
	font-size: 20px;
	padding-bottom: 30px;
}

.contacts__email {
	font-size: 32px;
}

.contacts__wrap {
	margin: 0px;
}

.contacts__item:last-child {
	margin-bottom: 48px;
}

.contacts__item {
	width: 100%;
	margin: 0px;
	margin-bottom: 32px;
}

.contacts__label.label-active {
	top: -10px;
}

.contacts__link {
	margin-bottom: 16px;
}

}

