.main-footer {
	background-color: #393e43;
	padding-top: 45px;
	padding-bottom: 70px;
}

.main-footer__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.main-footer__item {
	width: calc(100% / 2 - 40px);
	margin: 0 20px;
}

.main-footer__block {
	background-color: #eee;
	padding: 0 28px;
	margin-bottom: 40px;
}

.main-footer__title {
	font-size: 18px;
	line-height: 1.2;
	color: #393e43;
	text-align: center;
	text-transform: uppercase;
	padding-top: 26px;
	padding-bottom: 12px;
	font-weight: 900;
}

.main-footer__text {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 17px;
}

.main-footer__contacts {
	display: flex;
	justify-content: center;
	border-top: 2px solid #a7a7a7;
	padding-top: 20px;
}

.main-footer__data {
	font-size: 16px;
	color: #000000;
	margin-bottom: 24px;
	font-weight: 700;
}

.main-footer__data:first-child {
	margin-right: 95px;
}

.main-footer__socials {
	display: flex;
	margin: 0 -12px;
	padding-bottom: 20px;
}

.main-footer__box {
	margin: 0 12px;
	margin-bottom: 20px;
}

.main-footer__box svg {
	width: 30px;
	height: 30px;
	fill: #f2f2f2;
	transition: 0.3s fill;
}

.main-footer__box svg:hover {
	fill: rgba(242, 242, 242, 0.7);
}

.main-footer__desc p {
	font-size: 14px;
	line-height: 1.7;
	color: #ffffff;
	white-space: pre-line;
	padding-bottom: 2em;
}

.main-footer__holder {
	column-count: 2;
	column-gap: 60px;
}

.main-footer__col {
	display: inline-block;
	padding-bottom: 30px;
}

.main-footer__subtitle {
	display: block;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 10px;
	font-weight: 700;
}

.main-footer__elem {
	display: flex;
	flex-direction: column;
}

.main-footer__elem p {
	font-size: 14px;
	line-height: 1.7;
	color: #fff;
	white-space: pre-line;
}

.main-footer__elem a {
	display: inline-block;
	max-width: max-content;
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
	transition: 0.3s color;
}

.main-footer__elem a:hover {
	color: rgba(255, 255, 255, 0.7);
}

.msg-modal {
	position: fixed;
	top: 30%;
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px 30px;
	border-radius: 15px;
	text-align: center;
	background-color: #101010;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 5px;
	z-index: 20;
	transition: 0.3s visibility, 0.3s opacity;
}

.msg-modal-active {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 960px) {

.main-footer {
	padding-bottom: 5px;
}

.main-footer__wrap {
	margin: 0px;
}

.main-footer__item {
	width: 100%;
	margin: 0px;
}

.main-footer__holder {
	column-count: 1;
	column-gap: 0px;
}

.main-footer__col {
	display: block;
}

}

@media screen and (max-width: 650px) {

.main-footer__contacts {
	flex-direction: column;
	align-items: center;
}

.main-footer__data:first-child {
	margin-right: 0px;
}

}

