.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	display: flex;
	align-items: center;
	visibility: hidden;
	padding: 10vh 0;
	z-index: 330;
	transition: 0.3s opacity, 0.3s visibility;
}

.overlay-active {
	opacity: 1;
	visibility: visible;
}

.overlay-close {
	display: block;
	border: none;
	outline: none;
	position: absolute;
	top: 0px;
	right: -60px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: transparent;
	padding: 0px;
	z-index: 1;
}

.overlay-close:after,
.overlay-close:before {
	content: '';
	position: absolute;
	top: 14px;
	left: 1px;
	width: 30px;
	height: 2px;
	background-color: #afafaf;
	transition: 0.3s background-color;
}

.overlay-close:after {
	transform: rotate(45deg);
}

.overlay-close:before {
	transform: rotate(-45deg);
}

.overlay-close:hover:after,
.overlay-close:hover:before {
	background-color: #fff;
}

.overlay__subtitle {
	font-size: 24px;
	line-height: 1.2;
	color: #afafaf;
	text-transform: uppercase;
	padding-bottom: 46px;
	font-weight: normal;
}

.overlay .contacts__label {
	color: #afafaf;
}

.overlay .btn--send {
	border-color: #afafaf;
	background-color: transparent;
	color: #afafaf;
	margin-bottom: 0px;
}

.inner-overlay {
	position: relative;
	margin: 0 auto;
	max-width: 750px;
}

.inner__box {
	overflow: auto;
	overflow-x: hidden;
	background-color: #101010;
	max-height: 80vh;
	padding: 64px;
}

@media screen and (max-width: 960px) {

.inner__box {
	padding: 25px 40px;
}

}

@media screen and (max-width: 780px) {

.overlay-close {
	top: 25px;
	right: 30px;
}

.inner__box {
	padding: 25px 20px;
}

}

