.services {
	padding-top: 90px;
	padding-bottom: 20px;
}

.services--mob .title--mob {
	color: #292929;
}

.services__wrap {
	display: flex;
	margin: 0 -70px;
	transition: 0.3s transform;
}

.services__box {
	width: calc(50% - 140px);
	margin: 0 70px;
}

.services__box--content {
	display: flex;
	flex-direction: column;
}

.services__box--content ul li {
	position: relative;
	font-size: 24px;
	line-height: 1.18;
	color: #292929;
	padding-left: 40px;
	margin-bottom: 14px;
	font-weight: 300;
}

.services__box--content ul li:after {
	position: absolute;
	content: '+';
	font-size: 32px;
	top: -3px;
	left: 0px;
	color: #292929;
}

.services__box--hidden {
	display: none;
}

.services__list {
	display: flex;
	flex-direction: column;
}

.services__link {
	position: relative;
	cursor: pointer;
	display: inline-block;
	font-size: 60px;
	line-height: 1.2;
	color: #292929;
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration: none;
	padding: 5px 0;
	padding-left: 100px;
	margin-bottom: 45px;
	transition: 0.3s color;
}

.services__link--active {
	text-decoration: underline;
}

.services__link:hover {
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

.services__user {
	position: relative;
}

.services__block {
	display: flex;
	margin: 0 -70px;
	flex-wrap: wrap;
}

.services__item {
	width: calc(50% - 140px);
	margin: 0 70px;
}

.services__item--info ul li {
	position: relative;
	font-size: 24px;
	line-height: 1.18;
	color: #fbfbfb;
	padding-left: 50px;
	margin-bottom: 40px;
	font-weight: 400;
}

.services__item--info ul li:after,
.services__item--info ul li:before {
	position: absolute;
	content: '';
	background-color: #fbfbfb;
}

.services__item--info ul li:after {
	top: 14px;
	left: 0px;
	width: 17px;
	height: 3px;
}

.services__item--info ul li:before {
	top: 7px;
	left: 7px;
	width: 3px;
	height: 17px;
}

.services__item--desc ul {
	padding-bottom: 10px;
}

.services__item--desc ul li {
	position: relative;
	font-size: 24px;
	line-height: 1.25;
	color: #afafaf;
	padding-left: 40px;
	margin-bottom: 14px;
	font-weight: 300;
}

.services__item--desc ul li:after {
	position: absolute;
	content: ' ';
	top: 12px;
	left: 10px;
	width: 6px;
	height: 6px;
	background-color: #afafaf;
}

.services__title {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 60px;
	color: #fbfbfb;
	line-height: 1.2;
	background-repeat: no-repeat;
	background-size: 34px;
	background-position: left center;
	padding-left: 47px;
	margin-bottom: 58px;
	font-weight: 400;
}

.services__title:after {
	position: absolute;
	content: ' ';
	top: 25px;
	left: 3px;
	width: 20px;
	height: 20px;
	transform: rotate(-45deg);
	border-left: 4px solid #fbfbfb;
	border-top: 4px solid #fbfbfb;
}

.services__text {
	margin-bottom: 30px;
}

.services__text p {
	font-size: 24px;
	line-height: 1.25;
	color: #afafaf;
	padding-bottom: 1em;
	font-weight: 300;
}

@media screen and (max-width: 1530px) {

.services__link {
	font-size: 42px;
}

}

@media screen and (max-width: 1430px) {

.services__block {
	margin: 0 -30px;
}

.services__item {
	width: calc(50% - 60px);
	margin: 0 30px;
}

}

@media screen and (max-width: 1350px) {

.services__title {
	font-size: 42px;
}

.services__title:after {
	top: 17px;
}

}

@media screen and (max-width: 1250px) {

.services__wrap {
	margin: 0 -30px;
}

.services__box {
	width: calc(50% - 60px);
	margin: 0 30px;
}

.services__link {
	font-size: 35px;
}

}

@media screen and (max-width: 1150px) {

.services {
	padding-top: 45px;
}

.services {
	padding-bottom: 40px;
}

.services--mob {
	height: 100vh;
	overflow: auto;
	background-color: #292929;
}

.services__wrap {
	margin: 0px;
}

.services__box {
	width: 100%;
	margin: 0px;
}

.services__box--tabs {
	display: none;
}

.services__link {
	font-size: 32px;
	padding-left: 60px;
	background-size: 30px;
	margin-bottom: 20px;
}

.services__link--active {
	text-decoration: none;
}

.services__block {
	flex-direction: column;
	margin: 0px;
}

.services__item {
	width: 100%;
	margin: 0px;
}

.services__item--info {
	padding-bottom: 10px;
}

.services__item--info ul li {
	font-size: 22px;
}

.services__item--desc ul li {
	font-size: 20px;
}

.services__title {
	padding-left: 73px;
	font-size: 32px;
	margin-bottom: 46px;
}

.services__title:after {
	display: none;
}

.services__title--brend {
	background-image: url(img/icons/brend.png);
}

.services__title--shop {
	background-image: url(img/icons/shop.png);
}

.services__title--marketing {
	background-image: url(img/icons/marketing.png);
}

.services__title--media {
	background-image: url(img/icons/media.png);
}

.services__text p {
	font-size: 21px;
}

}

@media screen and (max-width: 960px) {

.services__item--desc ul li {
	font-size: 18px;
}

.services__item--desc ul li {
	font-size: 16px;
}

.services__text p {
	font-size: 18px;
}

}

@media screen and (max-width: 780px) {

.services__item--info ul li {
	font-size: 20px;
	padding-left: 35px;
}

.services__item--info ul li:after {
	width: 12px;
	height: 2px;
}

.services__item--info ul li:before {
	left: 5px;
	top: 9px;
	width: 2px;
	height: 12px;
}

.services__text p {
	font-size: 16px;
}

}

