.single {
	padding-right: 60px;
}

.single__block {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.single__item--info {
	width: 445px;
	padding-right: 140px;
}

.single__item--desc {
	width: calc(100% - 445px);
	position: relative;
}

.single__title {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 60px;
	color: #fbfbfb;
	line-height: 1.2;
	background-repeat: no-repeat;
	background-size: 34px;
	background-position: left center;
	padding-left: 47px;
	text-transform: uppercase;
	margin-bottom: 58px;
	font-weight: 400;
}

.single__title:after {
	position: absolute;
	content: ' ';
	top: 25px;
	left: 3px;
	width: 20px;
	height: 20px;
	transform: rotate(-45deg);
	border-left: 4px solid #fbfbfb;
	border-top: 4px solid #fbfbfb;
}

.single__tags {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
	padding-bottom: 65px;
}

.single__link {
	display: inline-block;
	font-size: 16px;
	line-height: 1.2;
	color: #fbfbfb;
	font-weight: normal;
	margin: 0 16px;
	margin-bottom: 8px;
}

.single__row {
	position: relative;
	height: 100%;
}

.single__col {
	position: absolute;
	width: 100%;
	min-width: 160px;
}

.single__col:first-child {
	max-width: 41%;
	top: 0px;
	left: 0px;
}

.single__col:nth-child(2) {
	max-width: 25%;
	top: 5%;
	right: 110px;
}

.single__col:nth-child(3) {
	max-width: 45%;
	bottom: 0px;
	left: 110px;
}

.single__col:nth-child(4) {
	max-width: 27%;
	bottom: 12%;
	right: 0px;
}

.single__col img {
	display: block;
}

.single__text h3 {
	position: relative;
	font-size: 24px;
	line-height: 1.2;
	color: #fbfbfb;
	padding-left: 28px;
	padding-bottom: 25px;
	font-weight: normal;
}

.single__text h3:after,
.single__text h3:before {
	position: absolute;
	content: '';
	background-color: #fbfbfb;
}

.single__text h3:after {
	top: 14px;
	left: 0px;
	width: 13px;
	height: 3px;
}

.single__text h3:before {
	top: 9px;
	left: 5px;
	width: 3px;
	height: 13px;
}

.single__text p {
	font-size: 16px;
	line-height: 1.2;
	color: #afafaf;
	padding-bottom: 2em;
	font-weight: 300;
}

.single__inner + button {
	position: static;
	margin-top: -44px;
}

.single__elem {
	margin-bottom: 92px;
}

.single__elem:first-child {
	display: flex;
	justify-content: flex-end;
}

.single__elem:last-child {
	margin-bottom: 0px;
}

.single__elem img {
	display: block;
}

.single__content {
	outline: none;
}

.single__arrow {
	position: absolute;
	z-index: 5;
	top: 0px;
	right: 0px;
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	padding: 0px;
	transition: 0.3s border;
}

.single__arrow:after {
	position: absolute;
	content: ' ';
	width: 20px;
	height: 20px;
	top: calc(50% - 10px);
	left: calc(50% - 12px);
	border-right: 2px solid #616161;
	border-bottom: 2px solid #616161;
	transform: rotate(-45deg);
	transition: 0.3s border;
}

.single__arrow:before {
	position: absolute;
	z-index: 2;
	content: ' ';
	top: 18px;
	left: 4px;
	width: 24px;
	height: 2px;
	background-color: #616161;
}

.single__arrow:hover:after {
	border-color: #014659s;
}

@media screen and (max-width: 1430px) {

.single__col:nth-child(4) {
	bottom: 17%;
}

}

@media screen and (max-width: 1350px) {

.single__item--info {
	width: 375px;
	padding-right: 70px;
}

.single__item--desc {
	width: calc(100% - 375px);
}

}

@media screen and (max-width: 1050px) {

.single__item--info {
	width: 100%;
	padding-right: 0px;
}

.single__item--desc {
	width: 100%;
	margin-top: 6px;
}

.single__title {
	margin-bottom: 35px;
}

.single__title {
	font-size: 32px;
	padding-left: 36px;
}

.single__title:after {
	top: 13px;
	width: 14px;
	height: 14px;
	border-left: 2px solid #fbfbfb;
	border-top: 2px solid #fbfbfb;
}

.single__tags {
	padding-bottom: 40px;
}

.single__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.single__row .swiper-wrapper {
	flex-direction: column;
}

.single__row .swiper-slide {
	flex-shrink: initial;
}

.single__col {
	position: static;
	width: calc(100% / 2 - 40px);
	margin: 0 auto;
	margin-bottom: 60px;
}

.single__col:first-child,
.single__col:nth-child(2),
.single__col:nth-child(3),
.single__col:nth-child(4) {
	max-width: initial;
}

.single__col img {
	width: 100%;
}

.single__text h3 {
	font-size: 20px;
	padding-bottom: 17px;
}

.single__text h3:after {
	width: 10px;
	height: 2px;
	top: 12px;
}

.single__text h3:before {
	left: 4px;
	top: 8px;
	width: 2px;
	height: 10px;
}

.single__text p {
	font-size: 14px;
}

.single__inner + button {
	margin-top: 45px;
}

.single__elem {
	justify-content: center;
	margin-bottom: 60px;
}

.single__elem img {
	margin: 0 auto;
}

.single__arrow {
	display: none;
}

}

@media screen and (max-width: 780px) {

.single {
	padding-top: 25px;
}

.single__row {
	margin: 0px;
}

.single__col {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
}

.single__col:first-child,
.single__col:nth-child(2),
.single__col:nth-child(3),
.single__col:nth-child(4) {
	max-width: 450px;
}

.single__arrow {
	display: none;
}

}

