@import 'responsive'

.circle-cursor
	position: fixed
	top: 0px
	left: 0px
	pointer-events: none
	border-radius: 50%
	transition: background-color 300ms
	+media(lgxs)
		display: none
	&__inner
		width: 5px
		height: 5px
		left: -2.5px
		top: -2.5px
		z-index: 10
		background-color: #808080
		&.circle-cursor__hover
			opacity: 0

	&__outer
		width: 30px
		height: 30px
		left: -15px
		top: -15px
		border: 1px solid #808080
		z-index: 11
		&.circle-cursor__hover
			background-color: #808080
			opacity: 0.7

#text
	position: fixed
	z-index: 12
	top: -9px
	left: 0px
	color: #101010
	max-width: 250px
	pointer-events: none
	text-transform: uppercase

	.text--title
		font-size: 36px

	.text--tags
		font-size: 16px

